---
import Footer from "../components/Footer.astro";
---
<html>
<body>
# My "North Stars"
1. The Basics
  1. Design Patterns
  1. Software Architecture
  1. Algorithms & Data Structures
  1. Networking
  1. Application-level AI/ML integrations
      1. Fine-Tuning
      1. Inference
          1. RAG (Research-Assisted Generation)
  1. Unix Internals

1. Web Development
    1. HTML/CSS
    1. Browser internals
    1. WASM
    1. Minimalist Frameworks
        1. AHA Stack - Astro, Htmx, Alpine

1. Languages
    1. JavaScript
    1. TypeScript
    1. Rust

1. Platforms, Tools, and Technologies
    1. Node.js
    1. Browser Automation
        1. Playwright
    1. Behavior-Driven Development (BDD)
        1. Cucumber
            1. cucumber.js

# X-Factor
1. The first two pages of hacker news, and the first page of [lobste.rs](lobste.rs)

# Other

I'm a proud neovim user.
</body>
<Footer />
</html>
